* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Force GitHub Linguist to detect our custom CSS & JS assets in public directory
public/css/style.css linguist-detectable
public/js/dashboard.js linguist-detectable
public/js/ports.js linguist-detectable
public/js/weather.js linguist-detectable
public/js/compare.js linguist-detectable

public/css/style.css linguist-vendored=false
public/js/dashboard.js linguist-vendored=false
public/js/ports.js linguist-vendored=false
public/js/weather.js linguist-vendored=false
public/js/compare.js linguist-vendored=false
