* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Force GitHub Linguist to detect CSS in public/css/
public/css/*.css linguist-vendored=false
public/css/*.css linguist-detectable=true

